* {
    margin: 0;
    padding: 0;
  }
  
  article {
    width: 60%;
    margin: auto;
  }
  
  .cart_box img {
    width: 100px;
    height: 100px;
  }
  .cart_img {
    display: flex;
    width: 400px;
  }
  
  .cart_img p {
    font-weight: bold;
    margin-left: 20px;
    font-size: 25px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid rgb(44, 78, 91);
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(21, 33, 38);
    border-radius: 5px;
    cursor: pointer;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: rgb(42, 190, 167);
  }
  .cart_box div:nth-child(3) span {
    background-color: rgb(103, 169, 255);
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: rgb(75, 154, 223);
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .sipariş {
    
    align-items: inherit;
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(21, 33, 38);
    border-radius: 5px;
    cursor: pointer;

}
    
    
    
  


